@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    --dark-color: #2a2a2a;
    --light-dark-color: #3b3b3b;
    --medium-dark-color: #212121;
    --blue-color: rgb(17, 144, 255);
    --white-color: #fff;
    --gray-color: rgb(101, 101, 101);
}

body {
    max-width: 100vw;
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
    background: rgb(17, 144, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

li {
    list-style-type: none;
}

.password-container {
    max-width: 60rem;
    width: 95%;
    margin: 0 auto;
    background: var(--dark-color);
    padding: 2rem;
    border-radius: 0.5rem;
}

.password-container > h1 {
    color: var(--white-color);
    font-size: 3rem;
    font-weight: 500;
}

.password-container .password-result {
    margin-top: 1rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--light-dark-color);
    padding: 0.5rem;
}

.password-result .password-result-text {
    color: var(--white-color);
    font-size: 2rem;
    font-weight: 500;
    padding: 0 0 0 1rem;
}

.password-result .password-result-icon {
    background: var(--blue-color);
    font-size: 2rem;
    padding: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.password-result .password-result-icon:active {
    transform: scale(0.95);
}

.password-slider-text {
    margin-top: 2rem;
    font-size: 1.8rem;
    color: white;
    font-weight: 400;
}

.password-slider-text .password-slider-text-length {
    font-weight: 500;
    color: var(--blue-color);
}

.password-slider-container {
    padding: 1rem 1.5rem;
    margin-top: 0.5rem;
    border-radius: 0.5rem;
    background: var(--light-dark-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.password-slider-container .password-slider-min,
.password-slider-container .password-slider-max {
    font-size: 1.6rem;
    color: var(--blue-color);
    font-weight: 500;
}

.password-slider-container .password-slider-input {
    -webkit-appearance: none;
    border-radius: 0.5rem;
    width: 85%;
    background: var(--medium-dark-color);
    height: 0.3rem;
    position: relative;
    z-index: 5;
}

.password-slider-container .password-slider-input::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: var(--width-value);
    height: 100%;
    border-radius: 0.5rem;
    background-color: var(--blue-color);
    z-index: 10;
}

.password-slider-container .password-slider-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: white;
    height: 2rem;
    width: 2rem;
    border-radius: 1.5rem;
    position: relative;
    transition: all 0.2s ease;
    cursor: pointer;
    z-index: 15;
}
.password-slider-container .password-slider-input::-webkit-slider-thumb:hover {
    transform: scale(1.2);
}

.password-settings-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 2rem;
    gap: 1rem;
}

.password-setting {
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.5rem;
    background-color: var(--light-dark-color);
}

.password-setting .password-setting-text {
    font-size: 1.8rem;
    letter-spacing: 0.5px;
    color: var(--white-color);
    font-weight: 400;
}

/* .password-setting .password-setting-toggle{

} */

.password-setting-toggle .checkbox {
    display: none;
}

.password-setting-toggle .label {
    display: block;
    position: relative;
    width: 6rem;
    height: 3rem;
    border-radius: 5rem;
    background: var(--gray-color);
    cursor: pointer;
    transition: all 0.3s ease;
}

.password-setting-toggle .label .ball {
    position: absolute;
    top: 50%;
    left: 0.3rem;
    transform: translateY(-50%);
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background: var(--white-color);
    transition: all 0.3s ease;
}

.password-setting-toggle .checkbox:checked + .label {
    background: var(--blue-color);
}

.password-setting-toggle .checkbox:checked + .label .ball {
    left: 3.2rem;
}

.password-btn {
    margin-top: 2rem;
    width: 100%;
    border: none;
    outline: none;
    padding: 1rem 0;
    font-family: inherit;
    font-size: 1.6rem;
    color: white;
    background: var(--blue-color);
    border-radius: 0.5rem;
    cursor: pointer;
    position: relative;
}

.password-btn:active {
    top: 2px;
}
